[Unit]
Description= get_cur_weather Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/mathieu/python_project/weather/get_forecast_weather_ggapi.py > /home/mathieu/python_projet/weather/get_for_weather.log 2>&1

[Install]
WantedBy=multi-user.target
